body{
    padding: 10px;
}
.if_thum div.if_bg {
    max-height: 140px;
    min-height: 140px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.if_thum h3 {
    font-size: 16px;
    margin-top: 0;
    line-height: 22px;
    margin-bottom: 10px;
    min-height: 45px;
    max-height: 45px;
    overflow: hidden;
}

.if_thum p {
    margin-bottom: 0px;
}

.if_thum h3 a {
    text-decoration: none;
}

.if_thum .if_date {
    color: #a5a5a5;
    float: right;
}

.if_thum .if_org {
    clear: both;
    color: #a5a5a5;
    float: right;
}