* {
    margin: 0;
}

html, body {
    height: 100%;
}

.admin-body {
    background: #f5f5f5;
}

.web-body {
    background: #f5f5f5;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -340px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.font-pp {
    font-family: 'Prompt', sans-serif;
}

.finder {
    min-height: 300px;
    display: block;
    position: relative;
    margin-bottom: 2em;
}

.finder:after {
    background: url("../images/2105.jpg");
    background-position: center center;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.finder .t-i {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    width: 546px;
    height: 165px;
    margin-left: -273px; /*half width*/
    margin-top: -82px; /*half height*/
    display: table;
}

.finder .t-i .t-i-c {
    vertical-align: middle;
    display: table-cell;
}

.finder .t-i .t-i-c p {
    font-size: 38px;
}

.finder .t-i .t-i-c input {
    min-width: 400px;
}

.ui.menu {
    border-radius: 0;
}

.ui.menu.home-menu {
    margin-bottom: 0;
}

.ui.menu.page-menu {
    margin-bottom: 30px;
}

.ui.header:first-child {
    margin-top: inherit;
}

h3.ui.header, h4.ui.header {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

h3.ui.header-last-new, h4.ui.header-last-new {
    color: #1565C0;
    margin: 20px 0;
}

h3.ui.header-h-new, h4.ui.header-h-new {
    color: #1565C0;
    margin: 20px 0;
}

.ui.card-page-view.card .meta {
    line-height: inherit;
    font-size: inherit;
    margin-bottom: 6px;
}

.ui.card > .image {
    max-height: 130px;
    height: 130px;
}

.ui.card > .image > img, .ui.cards > .card > .image > img {
    max-height: 130px;
    height: 130px;
}

.ui.card > .content > .header:not(.ui).title-post {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    height: 38px;
    overflow: hidden;
}

.ui.card .meta, .ui.cards > .card .meta p {
    line-height: 12px;
    font-size: 12px;
}

.ui.card .meta, .ui.cards > .card .meta .date {

}

.load-more {
    margin: 30px 0;
}


.content-page-view {
    padding-left: 30px;
}

@media screen and (max-width: 480px) {
    .content-page-view {
        padding-left: 0px;
    }
    .ui.vertical.menu{
        width: 100%;
    }
    .finder .t-i .t-i-c p{
        font-size: 26px;
    }
    .shared-log button.ui{
        display: block;
        margin-bottom: 10px;
        min-width: 200px;
    }
}

.ui.card-page-view.card {
    box-shadow: 0 1px 3px 0 #f4f4f5, 0 0 0 1px #dedede;
    width: 100%;
}

.ui.card-page-view.card .extra.content.description {
    min-height: 150px !important;
}

.ui.card-page-view.card .extra.content.description img {
    max-width: 100% !important;
}

.ui.card-page-view.card .extra.content.description.quiz {
    padding: 40px 30px;
    min-height: 0px !important;
}

.ui.card-page-view.card.result_log_box {
    padding: 30px 0;
}

.ui.card-page-view.card .content .header {
    color: #1565C0;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.ui.card-page-view.card .meta {
    text-align: left;
}

.footer, .page-wrap:after {
    min-height: 340px;
}

.footer {
    color: #484848;
    margin-top: 3em;
    border-top: 5px solid #1565C0;
    background-color: #d6d6d6;
    padding: 2em 0;
    width: 100%;
}

.footer h5.f-about {
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #777777;
    padding-bottom: 10px;
}

.footer .f-icon {
    text-align: center;
    margin-bottom: 10px;
}

.footer .f-icon i.icon {
    font-size: 35px;
}

.footer .f-contact p {
    line-height: 7px;
}

.footer .final-footer {
    border-top: 2px dashed #adadad;
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
}

.page-zone {
    margin: 40px 0;
    text-align: center;
}

.extra.content p {
    margin-bottom: 8px !important;
}

.extra.content .post-tags strong {
    font-size: 16px;
    margin-right: 10px;
}

.dh-card .card .header {
    text-align: center;
}

.number-counter {
    font-size: 62px;
    text-align: center;
}

.number-counter-max {
    font-size: 22px;
    text-align: center;
}

.number-score-max {
    font-size: 22px;
    text-align: center;
}

.card-thumb {
    min-height: 130px;
    background-color: transparent !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.icon-exam {
    width: 68px;
    height: 68px;
    display: block;
    margin-bottom: 5px;
}

.avatar-exam {
    width: 170px;
    height: 170px;
    display: block;
    margin-bottom: 5px;
}

.user_avatar_nav {
    width: 5%;
}

.ui.message.box-msg {
    margin-bottom: 20px;
}

.img_cover {
    width: 209px;
    height: 130px;
    display: block;
    margin-bottom: 5px;
}

span.introduce-label {
    color: #9c9c9c;
}

.dropzone {
    min-height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #f3f3f3;
    padding: 20px 20px;
}

.extra.content.description {
    color: #333333;
}

.ui.button {
    margin: 0;
}

.clock-counter {
    margin: 10px 0;
    width: 177.7px;
    background-color: #e0e0e0;
    color: #444;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header.result_log {
    text-align: center;
}

.ui.card-page-view.card .content .header.result_log.icon {
    font-size: 62px;
}

.result_log_name {
    font-size: 18px !important;
    color: #333333;
    text-align: center;
}

.score_log {
    color: blueviolet;
    font-size: 36px;
}

.ui.table.no-border {
    border: 0;
}

.ui.centered.card.box-detail-log {
    margin-top: 26px;
}

.ui.modal > .actions.center-submit {
    text-align: center;
}

.ui.card .content.box-content-file {
    padding: 10px;
}

.shared-log {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #e6e6e6;
}

.shared-log .txt-s {
    padding-bottom: 10px;
    color: #0d71bb;
}

.td-title-log {
    color: #9c9c9c;
}

.button-z {
    padding-top: 10px;
    text-align: center;
}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0 !important;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding: 0 !important;
}

.gcsc-branding {
    display: none !important;
}

.gsc-result-info {
    padding: 0 !important;
}

.gsc-results .gsc-cursor-box {
    margin: 0 !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
    padding: 15px !important;
    margin: 0 !important;
}

.gsc-results {
    width: 100% !important;
}

.quiz-content p.meta-description-quiz{
    color: #333333;
}

.title-card h2{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}